<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace= "com.frontline.newssummary.dao.MainSummaryListDAO" >
<select id ="getMainSummaryList" parameterType="com.frontline.newssummary.vo.MainSummaryListVO" resultType= "com.frontline.newssummary.vo.MainSummaryListVO">
select title, img, sid from article where article.oid = (select popularOid from popularnews) and article.aid = (select popularAid from popularnews) and (select * from popularnews where popularSid = 100 )

</select >
 
<insert id ="insertMainSummary" parameterType="com.frontline.newssummary.vo.MainSummaryListVO" >
insert into summary
(id, art_oid, art_aid, userid, content, like, hate, time)
values
( #{id}, #{art_oid}, #{art_aid}, #{userid}, #{content}, #{like}, #{hate}, #{time} )
</insert>
</mapper>