<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace= "com.frontline.newssummary.dao.rollingNewsDAO" >
<select id ="rollingNewsList" resultType= "com.frontline.newssummary.vo.RollingNewsVO">
select title, url from principalnews
</select>
</mapper>